[buildout]
parts =
    plone
    zope2
    productdistros
    instance
    zopepy
find-links =
    http://dist.plone.org
    http://download.zope.org/ppix/
    http://effbot.org/downloads
eggs =
    elementtree
    gzo.plonepolicy
    gzo.plonesmashtheme
    PIL
    Pygments
develop =
    src/gzo.plonepolicy
    src/gzo.plonesmashtheme

[plone]
recipe = plone.recipe.plone

[zope2]
recipe = plone.recipe.zope2install
url = ${plone:zope2-url}

[productdistros]
recipe = plone.recipe.distros
urls =
nested-packages =
version-suffix-packages = 

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
debug-mode = off
verbose-security = off
user = grok:grok
eggs =
    ${buildout:eggs}
    ${plone:eggs}
zcml =
    gzo.plonepolicy
products =
    ${buildout:directory}/products
    ${productdistros:location}
    ${plone:products}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy


